@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap');
:root {
    --main-color: rgb(29, 29, 31);
}

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

body {
    overflow-x: hidden;
    color: var(--main-color);
    letter-spacing: -0.05em;
    background: #fff;
}

p {
    line-height: 1.6;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

.container {
    overflow-x: hidden;
}

.global-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;
    padding: 0 1rem;
    z-index: 4;
}

.global-nav-links,
.local-nav-links {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.global-nav-links {
    justify-content: space-between;
}

.local-nav {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 52px;
    padding: 0 1rem;
    border-bottom: 1px solid #ddd;
    z-index: 11;
}

.local-nav-sticky .local-nav {
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: saturate(180%) blur(15px);
    -moz-backdrop-filter: saturate(180%) blur(15px);
    -o-backdrop-filter: saturate(180%) blur(15px);
    backdrop-filter: saturate(180%) blur(15px);
}

.local-nav-links a:not(.product-name) {
    margin-left: 2em;
    font-size: 0.8em;
}

.product-name {
    margin-right: auto;
    font-size: 1.4em;
    font-weight: bold;
}

.scroll-section {
    position: relative;
    padding-top: 50vh;
}

#scroll-section-0 h1 {
    position: relative;
    top: -10vh;
    font-size: 4rem;
    text-align: center;
    z-index: 4;
}

.main-message {
    display: flex;
    align-content: center;
    justify-content: center;
    top: 35vh;
    margin: 5px 0;
    height: 3em;
    font-size: 2.5rem;
    opacity: 0;
}

.main-message p {
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.main-message small {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5em;
}

#scroll-section-2 .main-message {
    font-size: 3.5rem;
}

.description {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    font-size: 1.2rem;
    color: #888;
}

.description strong {
    float: left;
    font-size: 3rem;
    color: var(--main-color);
    margin-right: 0.2em;
}

.desc-message {
    width: 50%;
    font-weight: bold;
    opacity: 0;
}

.pin {
    width: 1px;
    height: 100px;
    background: var(--main-color);
}

#scroll-section-2 .b {
    top: 10%;
    left: 40%;
}

#scroll-section-2 .c {
    top: 15%;
    left: 45%;
}

.mid-message {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    font-size: 2rem;
    color: #888;
}

.mid-message strong {
    display: block;
    color: var(--main-color);
}

.canvas-caption {
    max-width: 1000px;
    margin: -5em auto 0;
    padding: 0 1rem;
    font-size: 1.2rem;
    color: #888;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkorange;
    color: #fff;
    height: 7rem;
}

.sticky-elem {
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
}

@media(min-width:1024px) {
    #scroll-section-0 h1 {
        font-size: 9vw;
    }
    .main-message {
        font-size: 4vw;
    }
    #scroll-section-2 .main-message {
        font-size: 6vw;
    }
    .main-message small {
        font-size: 1.5vw;
    }
    .description {
        font-size: 2rem;
        padding: 0;
    }
    .description strong {
        font-size: 6rem;
    }
    .desc-message {
        width: 20%;
    }
    #scroll-section-2 .b {
        top: 20%;
        left: 53%;
    }
    #scroll-section-2 .c {
        left: 55%;
    }
    .mid-message {
        width: 1000px;
        font-size: 4vw;
        padding: 0;
    }
    .canvas-caption {
        margin-top: -8rem;
        font-size: 2rem;
        padding: 0;
    }
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
    display: block;
}

.sticky-elem-canvas {
    top: 0;
    height: 100%;
}

.sticky-elem-canvas canvas {
    position: absolute;
    top: 50%;
    left: 50%;
}

.image-blend-canvas.sticky {
    position: fixed;
    top: 0;
}

#scroll-section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}