:root {
    /* color */
    --color-black: #3f454d;
    --color-white: #ffffff;
    --color-blue: #3b88c3;
    --color-yellow: #fbbe28;
    --color-pink: #fd7f84;
    --color-light-grey: #dfdfdf;
}

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--color-black);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.btn-container {
    margin: 15px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button:hover {
    transform: scale(1.2);
}

button:active {
    transform: scale(0.99);
}

.clothes {
    background: transparent;
    border: 0;
    outline: 0;
    width: 50px;
    margin: 0 5px;
}

.clothes img {
    width: 100%;
}

.color {
    font-size: 16px;
    font-weight: bold;
    margin: 0 2px;
    padding: 0 10px;
    border: 0;
    outline: 0;
    border-radius: 2px;
    height: 30px;
}

.color#blue {
    background: var(--color-blue);
}

.color#yellow {
    background: var(--color-yellow);
}

.color#pink {
    background: var(--color-pink);
}

.contents {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    background: var(--color-white);
    width: 100%;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.content img {
    width: 50px;
    margin: 10px 15px;
}